* {
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.tagline {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 700;
}

.tagline div {
  font-size: 0.5em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  display: inline-block;
  background-color: #41817a;
  color: white;
  padding: 0 10px;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  color: #41817a;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: #b1597f;
  text-transform: uppercase;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 300;
}

header {
  background: linear-gradient(
      to bottom,
      rgba(65, 129, 122, 0.6) 0%,
      rgba(65, 129, 122, 0.9) 100%
    ),
    url(./images/white_balloon_2.jpg) center / cover;
}

/* header {
  background-image: url(./images/blue_ballon_2.jpg);
  background-size: cover;
  background-position: ;
  height: 450px;
} */

.container {
  margin: 0 auto;
  max-width: 45em;
  padding: 0 1em;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  color: #fff;
  max-width: 400px;
}

.profile {
  color: #fff;
  max-width: 400px;
  margin-bottom: -25px;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 130px;
}

.social-media img {
  width: 24px;
}

.social-media a {
  text-decoration: none;
  border: solid white 2px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 13px;
}

.profile-picture {
  border-radius: 50%;
  border: solid;
  height: 250px;
}

.line {
  color: #b1597f;
  font-weight: bolder;
}

.section {
  padding: 6em 0;
}

.section:nth-child(odd) {
  background: #f4f4f4;
}

.tech-section,
.project-section,
.reflection-section,
.skill-section,
.more-section {
  text-align: center;
}

.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.featured a {
  text-decoration: none;
}

.project,
.reflection {
  width: 48%;
  margin-bottom: 4em;
}

.weather-project-title {
  background-image: url(images/blue_ballons_1.jpg);
}

.news-project-title {
  background-image: url(images/balloon1.jpg);
}

.pizza-project-title {
  background-image: url(images/blue_ballon.jpg);
}

.cluedo-project-title {
  background-image: url(images/blue_ballons_2.jpg);
}

.weather-project-title,
.news-project-title,
.pizza-project-title,
.cluedo-project-title {
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 90px 0;
  margin-bottom: 15px;
  text-align: center;
  color: white;
}

.featured-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
}

.featured p,
.secondary p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  display: inline;
}

.subtitle,
.read-more {
  color: #b1597f;
  font-weight: bold;
  text-transform: uppercase;
}

.tags {
  margin-top: 5px;
}

.tags p {
  background-color: #41817a;
  color: white;
  font-size: 0.8em;
  padding: 3px 6px;
}

.secondary {
  text-align: left;
  margin-top: 30px;
}

.secondary-items {
  margin-bottom: 20px;
}

.inline {
  display: inline;
}

.text-snippet {
  color: black;
}

.inline span {
  color: #b1597f;
  font-weight: bold;
}

.skill-set {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.skill-section p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.8em;
}

.code,
.toolbox,
.more {
  width: 33.3%;
}

.for-more {
  display: flex;
  justify-content: center;
}

.for-more div {
  display: flex;
  flex-direction: column;
}

.for-more img {
  width: 40px;
  color: #b1597f;
}

.for-more a {
  text-decoration: none;
  border: solid #b1597f 3px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 20px;
  margin: 0 40px;
}

.for-more h4 {
  text-align: center;
  padding-top: 20px;
  font-size: 1em;
}

footer {
  background-color: #41817a;
  color: #fff;
  text-align: center;
  padding: 60px 0;
}

footer h2 {
  margin-bottom: 0.5em;
}
footer h5 {
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}
